@{
    ViewData["Title"] = "Задача 4";
}

<head>
    <link rel=stylesheet type="text/css" href="style.css">
</head>

<script>
    function submitForm(event) {
        event.preventDefault();

        const name = document.getElementById('name').value;
        const gender = document.querySelector('input[name="gender"]:checked').value;
        const phone = document.getElementById('phone').value;
        const email = document.getElementById('email').value;
        const bloodType = document.getElementById('bloodType').value;
        const specialty = document.getElementById('specialty').value;

        const biography = `
                            <h1>Биография</h1>
                            <p><strong>ФИО:</strong> ${name}</p>
                            <p><strong>Пол:</strong> ${gender}</p>
                            <p><strong>Телефон:</strong> ${phone}</p>
                            <p><strong>Почта:</strong> ${email}</p>
                            <p><strong>Группа крови:</strong> ${bloodType}</p>
                            <p><strong>Специальность:</strong> ${specialty}</p>
                        `;

        const biographyWindow = window.open('', '_blank');
        biographyWindow.document.write(biography);
        biographyWindow.document.close();

        document.getElementById('name').value = '';
        document.querySelector('input[name="gender"]:checked').checked = false;
        document.getElementById('phone').value = '';
        document.getElementById('email').value = '';
        document.getElementById('bloodType').value = '';
        document.getElementById('specialty').value = '';
    }
</script>

<body>
    <h1>Анкета</h1>
    <form onsubmit="submitForm(event)" >
        <label for="name">ФИО:</label>
        <input type="text" id="name" required>
        <br>
        <br>
        <label>Пол:</label>
        <input type="radio" name="gender" value="Мужской" required> Мужской
        <input type="radio" name="gender" value="Женский"> Женский
        <br>
        <br>
        <label for="phone">Телефон:</label>
        <input type="tel" id="phone" required>
        <br>
        <br>
        <label for="email">Почта:</label>
        <input type="email" id="email" required>
        <br>
        <br>
        <label for="bloodType">Группа крови:</label>
        <input type="text" id="bloodType" required>
        <br>
        <br>
        <label for="specialty">Специальность:</label>
        <input type="text" id="specialty" required>
        <br>
        <br>
        <button type="submit">Сформировать биографию</button>
    </form>
</body>
